@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.2/font/bootstrap-icons.css");
*{
    padding: 0;
    margin: 0;
}
body{
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Helvetica,Arial,sans-serif;
    background-color: rgba(var(--b3f,250,250,250),1);
    cursor: default;
}
.box{
    margin-top: 10px;
    border: 1px solid rgba(var(--b6a,219,219,219),1);
    padding: 40px;
    padding-bottom: 25px;
    background-color: white;
}
.header{
    margin-bottom: 30px;
}
.main{
    max-width: 350px;
    margin: auto;
    margin-top: 28px;
    text-align: center;
}
.bi-facebook{
    font-size: 18px;
    cursor: pointer;
    border-radius: 90%;
    color: rgb(21, 21, 163);
    background-color: white;
    margin-right: 7px;
}
a{
    text-decoration: none;
}
.fbB{
    padding-bottom: 14px;
}
.input{
    width: 92%;
    outline: none;
    padding: 9px 0 7px 8px;
    border: 1px solid rgba(var(--b6a,219,219,219),1);
}
.passwor{
    display: flex;
    margin-top: 7px;
    border-radius: 4px;
    background:  rgba(var(--b3f,250,250,250),1);
    border: 1px solid rgba(var(--b6a,219,219,219),1);
}
.passwor .inputx{
    background:  rgba(var(--b3f,250,250,250),1);
    border: none;
    outline: none;
    font-size: 14px;
    padding: 10px;
    width: 80%;
}
.show{
    width: 20%;
    font-size: 14px;
    font-weight: 500;
    height: 27px;
    padding-top: 10px;
    display: none;
    cursor: pointer;
    outline: none;
}
.input{
    font-size: 14px;
    padding: 10px;
    margin-top: 7px;
    background:  rgba(var(--b3f,250,250,250),1);
    border-radius: 4px;
}
.input:focus{
    border: 1px solid rgb(115, 112, 112);
}
.butt{
    padding: 5px;
    width: 100%;
    outline: none;
    color: white;
    font-size: 15px;
    border: 1px solid transparent;
    border-radius: 5px;
    margin-top: 15px;
    font-weight: bold;
    background-color: rgba(var(--d69,0,149,246),.3);
    opacity: 1;
    transition: 0.5s;
    cursor: not-allowed;
}
.butt:active{
    background-color: #39637e;
    transform: translateY(8px);
}
.fb{
    color: #385185;
    font-size: 15px;
    font-weight: 500;
}
.or{
    padding-top: 20px;
    font-size: 12px;
    font-weight: 400;
    padding-bottom: 10px;
    display: flex;
}
.osr{
    margin: 0 18px;
}
.desd{
    background-color: rgba(149,149,149);
    height: 1px;
    position: relative;
    width: 100%;
    top: 0.45em;
}
.forget{
    color: #385185;
    font-size: 13px;
}
.sign{
    color: #0095f6;
    text-decoration: none;
    font-weight: 500;
}
.box3{
    font-weight: 400;
    margin: 20px;
}
.box2{
    font-size: 14px;
    padding: 18px;
}
.install img{
    width: 130px;
    margin-left: 5px;
}
.bottom{
    display: inline-flex;
    flex-wrap: wrap;
    justify-content: center;
}
.last{
    font-size: 12px;
    color: #8e8e8e;
    text-align: center;
}
.boti{
    text-align: center;
    margin-top: 55px;
    margin-bottom: 15px;
}
.bottom a{
    margin-bottom: 12px;
    color: #8e8e8e;
    line-height: 16px;
    margin-left: 15px;
}